In [2]:
import numpy as np
import pandas as pd

In [3]:
df_tot_emissions = pd.read_excel('TIMES_PanEU_total_emissions.xls',
                                header=[0,1],
                                index_col=[0,1],
                                sheet_name="Emission of CO2")

In [4]:
df_captured_emissions = pd.read_excel('TIMES_PanEU_captured_emissions.xls',
                                header=[0,1],
                                index_col=[0,1],
                                sheet_name="Emission - Separated CO2")

## Make pivot table from total emissions

In [5]:
# get names of different indexes
regions   = df_tot_emissions.index.levels[0]
sectors   = df_tot_emissions.index.levels[1]
years     = df_tot_emissions.columns.levels[0]
scenarios = df_tot_emissions.columns.levels[1]

In [6]:
col_names = ["Region", "Sector", "Year", "Scenario", "Emissions"]

df_emissions_pivot = pd.DataFrame(columns = ["Region", "Sector", "Year", "Scenario", "Emissions"])

for region in regions:
    for sector in sectors:
        for year in years:
            for scenario in scenarios:
                if (region, sector) in df_tot_emissions.index:
                    if (year, scenario) in df_tot_emissions.columns:
                        value = df_tot_emissions.loc[region,sector][year,scenario]
                        df_emissions_pivot = df_emissions_pivot.append(pd.DataFrame([[region, sector, year, scenario, value]],
                                                                       columns = ["Region", "Sector", "Year", "Scenario", "Emissions"]),
                                                                       ignore_index = True)
                
df_emissions_pivot

     Region   Sector  Year Scenario     Emissions
0        AT  AGRCO2N  2015  Optimal    709.119944
1        AT  AGRCO2N  2020  Current    743.337448
2        AT  AGRCO2N  2020   NurETS    747.545419
3        AT  AGRCO2N  2020  Optimal    745.982427
4        AT  AGRCO2N  2025  Current    841.549699
...     ...      ...   ...      ...           ...
5407     UK  TRACO2N  2045   NurETS  43498.962317
5408     UK  TRACO2N  2045  Optimal  44912.477081
5409     UK  TRACO2N  2050  Current  24899.537302
5410     UK  TRACO2N  2050   NurETS  26030.796842
5411     UK  TRACO2N  2050  Optimal  26181.511050

[5412 rows x 5 columns]

## Make pivot table from captured emissions

In [7]:
# sectors are written differently in captured emissions

sectors_cap   = df_captured_emissions.index.levels[1]

In [8]:
col_names = ["Region", "Sector", "Year", "Scenario", "Emissions"]

df_captured_pivot = pd.DataFrame(columns = ["Region", "Sector", "Year", "Scenario", "Emissions"])

for region in regions:
    for sector in sectors_cap:
        for year in years:
            for scenario in scenarios:
                if (region, sector) in df_captured_emissions.index:
                    if (year, scenario) in df_captured_emissions.columns:
                        value = df_captured_emissions.loc[region,sector][year,scenario]
                        df_captured_pivot = df_captured_pivot.append(pd.DataFrame([[region, sector, year, scenario, value]],
                                                                       columns = ["Region", "Sector", "Year", "Scenario", "Emissions"]),
                                                                       ignore_index = True)
                
df_captured_pivot

     Region    Sector  Year Scenario    Emissions
0        AT  AGRSCO2N  2015  Optimal          NaN
1        AT  AGRSCO2N  2020  Current          NaN
2        AT  AGRSCO2N  2020   NurETS          NaN
3        AT  AGRSCO2N  2020  Optimal          NaN
4        AT  AGRSCO2N  2025  Current          NaN
...     ...       ...   ...      ...          ...
4417     UK  TRASCO2N  2045   NurETS   353.183837
4418     UK  TRASCO2N  2045  Optimal     0.172943
4419     UK  TRASCO2N  2050  Current  6789.109430
4420     UK  TRASCO2N  2050   NurETS  7037.525662
4421     UK  TRASCO2N  2050  Optimal  6948.758649

[4422 rows x 5 columns]

In [10]:
with pd.ExcelWriter("emissions_TIMES_PanEU.xlsx") as writer:
    df_emissions_pivot.to_excel(writer, sheet_name="total_emissions", index = False)
    df_captured_pivot.to_excel(writer, sheet_name="captured_emissions", index = False)